<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Aprobación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="logo">Daniel Babativa, Duvan Londoño</div>
    </nav>
    <h1>Casos de Uso de Machine Learning</h1>
    <button class="toggle-btn">☰</button>
    <div class="sidebar">
    <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="casos_de_uso_ML">Casos de Uso ML</a></li>
        <li><a href="prediccion">Predicción</a></li>
        <li class="submenu">
            <a href="#">Regresión Logística</a>
            <ul>
                <li><a href="conceptos_basicos">Conceptos Básicos</a></li>
                <li><a href="Cursos">Ejercicio Practico</a></li>
            </ul>
        </li>
        <li><a href="Recursos">Recomendación K-NN</a></li>
    </ul>
</div>
    <script>
        const toggleBtn = document.querySelector('.toggle-btn');
        const sidebar = document.querySelector('.sidebar');

        toggleBtn.addEventListener('click', () => {
            sidebar.classList.toggle('active');
        });
    </script>

    <h1>Predicción de Aprobación en Curso Virtual</h1>
    <form method="post">
        <label for="horas">Horas de conexión</label>
        <input type="number" name="horas" step="0.1" required>

        <label for="foros">Foros respondidos</label>
        <input type="number" name="foros" required>

        <label for="nivel">Nivel educativo</label>
        <select name="nivel" required>
            <option value="Secundaria">Secundaria</option>
            <option value="Tecnico">Técnico</option>
            <option value="Universitario">Universitario</option>
        </select>

        <button type="submit">Predecir</button>
    </form>

    {% if result is not none %}
    <h2>¿Aprueba el curso?: {{ result }}</h2>
{% endif %}

<hr>
<div class="container mt-5">
    <h2 class="text-center" style="font-size: 2rem;">Métricas de Evaluación del Modelo</h2>

    <p class="text-center" style="font-size: 1.5rem;"><strong>Exactitud:</strong> {{ accuracy }}</p>

    <h3 class="text-center">Reporte de Clasificación</h3>
    <div class="table-responsive mx-auto" style="max-width: 700px;">
        {{ report_html|safe }}
    </div>

    <h3 class="text-center mt-4">Matriz de Confusión</h3>
    <div class="text-center">
        <img src="data:image/png;base64,{{ conf_matrix_img }}" alt="Matriz de Confusión" class="img-fluid rounded shadow" style="max-width: 400px;">
    </div>
</div>

</body>
</html>
